body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #0072ce;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #030303 3px solid;
}

header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    padding: 0;
    list-style: none;
}

header li {
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
}

.banner {
    padding: 40px 0;
    background: #e4f1fe;
    color: #000;
    text-align: center;
}

.banner h1 {
    margin: 0;
    font-size: 36px;
}

section#main {
    padding: 20px 0;
    background: #f4f4f4;
    overflow: auto; /* Allows scrolling */
}

footer {
    background: #333333;
    color: #ffffff;
    text-align: center;
    padding: 30px 0;
}

footer p {
    margin: 0;
}

/* Hide the navigation by default */
.navigation {
    background: #e4e4e4;
    padding: 20px;
    position: fixed;
    left: -220px; /* Hide off-screen */
    top: 0;
    bottom: 0;
    width: 200px;
    transition: left 0.3s; /* Animate the left property */
    overflow-y: auto; /* Enable scrolling on small screens */
}

/* When navigation is active, slide in */
.navigation.active {
    left: 0; /* Slide in */
}

/* Adjust the .main-content when navigation is active */
.main-content {
    transition: margin-left 0.3s; /* Animate the margin property */
    margin-left: 0; /* No additional margin when navigation is not active */
}

.navigation.active + .main-content {
    margin-left: 220px; /* This should match the width of the navigation */
}

.navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation li {
    padding: 10px 0;
}

.navigation a {
    color: #333;
    text-decoration: none;
}

/* Full-width navigation menu when it's active */
.navigation.active {
    width: 200px;
}

@media screen and (max-width: 768px) {
    /* Position the menu icon */
    #menu-icon {
        cursor: pointer;
        position: fixed;
        top: 10px;
        left: 10px;
        z-index: 1000; /* Ensure it's above other elements */
        font-size: 30px;
        padding: 10px;
        display: block; /* Always show the menu icon */
    }

    /* Adjust the .main-content for small screens when navigation is not active */
    .main-content {
        margin-left: 0; /* Ensure it's not pushed to the right on small screens */
    }
}
